* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Inter', sans-serif;
}

/* Main page container */
.bg-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: fixed;
}
.header{
    display: flex;
    align-items: center;
    height: 8vh;
    width: 100%;
    background-color: #ffffff;
    padding: 2rem;
    margin-top: 0;
    position: sticky;
    
}

.website-icon{
    
    font-size: 1.5rem;
    color: #CF2D2D;
}

.login-bg-container {
  height: 92vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("https://pngimg.com/d/crowd_PNG27.png");
  background-size: cover;
  position: static;

}

/* Signup form card */
.form-container{
  background-color:#ffffff;
  width: 25vw;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.form-field{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
  margin-bottom: 1.5rem;
}
.label-item{
  font-size: 1.3rem;
  font-weight: bold;
  color: #1E2022;
  margin-bottom: 0.7rem;
}
.input-element{
  height: 3rem;
  width: 100%;
  border: 2px solid #B0BABF;
  border-radius: 0.5rem;
  font-size: 1.3rem;
  color: #1E2022;
  background-color: #ffffff;
  padding: 5px;
}
.submit-btn{
  height: 3rem;
  width: 90%;
  background-color: #CF2D2D;
  font-size: 1.3rem;
  color: #ffffff;
  font-weight: bold;
  border: none;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  cursor: pointer;
}
.login-text{
  font-size: 1rem;
  color: #1E2022;
}
.login-link{
  font-size: 1rem;
  color: #CF2D2D;
}
.login-link:hover{
  text-decoration: underline;
  color: #CF2D2D;
  cursor: pointer;
}
@media screen and (min-width: 1550px) and (max-width: 1770px){
  .header{
    height: 5vh;
    width: 100%;
    padding: 2rem;
  }
  .website-icon{
    font-size: 1.5rem;
  }
  .login-bg-container {
    height: 90vh;
    width: 100%;
  }
  .form-container{
    width: 30vw;
    height: auto;
    border-radius: 12px;
    padding: 1rem;
  }
  .form-field{
    width: 90%;
    margin-bottom: 1.5rem;
  }
  .label-item{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  .input-element{
    height: 3rem;
    width: 100%;
    border-radius: 0.4rem;
    font-size: 1.5rem;
  }
  .submit-btn{
    height: 3rem;
    width: 90%;
    font-size: 1.5rem;
    border-radius: 0.4rem;
    margin-bottom: 1rem;
  }
  .login-text{
    font-size: 1.2rem;
  }
  .login-link{
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 992px) and (max-width: 1550px){
    .header{
      height: 6vh;
      width: 100%;
      background-color: #ffffff;
      padding: 1rem;
    }

    .website-icon{
      font-size: 1rem;
    }

    .login-bg-container{
      height: 94vh;
      width: 100%;
    }
    .form-container{
      width: 35vw;
      height: auto;
      border-radius: 12px;
      padding: 1.5rem;
    }
    .form-field{
      width: 90%;
      margin-bottom: 1rem;
    }
    .label-item{
      font-size: 1.4rem;
      margin-bottom: 0.5rem;
    }
    .input-element{
      height: 2.5rem;
      width: 100%;
      border: 2px solid #B0BABF;
      border-radius: 0.5rem;
      font-size: 1.3rem;
    }
    .submit-btn{
      height: 2.5rem;
      width: 90%;
      font-size: 1.3rem;
      border-radius: 0.5rem;
      margin-top: 1rem;
      margin-bottom: 0.7rem;
    }
    .login-text{
      font-size: 1rem;
    }
    .login-link{
    font-size: 1rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px){
  .website-icon{
    font-size: 1.2rem;
  }
  .form-container{
    width: 45vw;
    padding: 0.8rem;
  }
  .form-field{
    width: 90%;
    margin-bottom: 1.6rem;
  }
  .label-item{
    font-size: 1rem;
    margin-bottom: 0.8rem;
  }
  .input-element{
    font-size: 1rem;
    height: 2.3rem;
    width: 100%;
    border-radius: 0.5rem;
  }
  .submit-btn{
    font-size: 1rem;
    height: 2.3rem;
    width: 90%;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
  }
  .login-text{
    font-size: 0.8rem;
  }
  .login-link{
    font-size: 0.8rem;
    
  }
}

@media screen and (min-width: 576px) and (max-width: 768px){
  .website-icon{
    font-size: 1.3rem;
  }
  .form-container{
    width: 60vw;
    padding: 1rem;
  }
  .form-field{
    width: 93%;
    margin-bottom: 1.2rem;
  }
  .label-item{
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
  }
  .input-element{
    font-size: 1.3rem;
    height: 2.5rem;
    border-radius: 0.3rem;
    width: 100%;
  }
  .submit-btn{
    font-size: 1.3rem;
    height: 2.5rem;
    width: 93%;
    border-radius: 0.5rem;
    margin-bottom: 0.7rem;
  }
  .login-text{
    font-size: 1.1rem;
  }
  .login-link{
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 400px) and (max-width: 576px){
   .website-icon{
    font-size: 1.2rem;
  }
  .form-container{
    width: 75vw;
    padding: 0.7rem;
  }
  .form-field{
    width: 93%;
    margin-bottom: 1rem;
  }
  .label-item{
    font-size: 1.2rem;
    margin-bottom: 0.7rem;
  }
  .input-element{
    font-size: 1.2rem;
    height: 2.2rem;
    border-radius: 0.3rem;
    width: 100%;
    
  }
  .submit-btn{
    font-size: 1.2rem;
    height: 2.2rem;
    border-radius: 0.3rem;
    width: 93%;
    margin-bottom: 0.8rem;
  }
  .login-text{
    font-size: 1rem;
  }
  .login-link{
    font-size: 1rem;
  }
}
@media screen and (min-width: 250px) and (max-width: 400px){
  .website-icon{
    font-size: 1.2rem;
  }
  .form-container{
    width: 85vw;
    padding: 0.6rem;
  }
  .form-field{
    width: 97%;
    margin-bottom: 1rem;
  }
  .label-item{
    font-size: 1.2rem;
    margin-bottom: 0.6rem;
  }
  .input-element{
    font-size: 1.2rem;
    height: 2.2rem;
    border-radius: 0.3rem;
    width: 100%;
    
  }
  .submit-btn{
    font-size: 1.2rem;
    height: 2.2rem;
    width: 97%;
    border-radius: 0.3rem;
    margin-bottom: 0.6rem;
  }
  .login-text{
    font-size: 0.8rem;
  }
  .login-link{
    font-size: 0.8rem;
  }
}